[SERVER]
    hostname = https://partitioncloud.com

[AUTH]
    username = username
    password = password
    albums = ["ABC123", "DEF456"]
    groupes = ["123ZYX"]
[STORAGE]
    storage-path = /home/my-user/Documents/partitioncloud-files
[ATTACHMENTS_ALIAS]
    Piano   = ["*Piano*"]
